.footer
  margin: 10px

  .edit
    color: #3ea8ea

    font-size: 3em
    line-height: 40px
    text-decoration: none

.add-form
  float: right

  input
    width: 300px
    font-size: 3em
    text-align: center
    font-family: 'Roboto Condensed', sans-serif
    color: #333
    border: none
    border-bottom: solid 2px #ccc

    margin-right: 15px

    &:focus
      outline-width: 0

  a
    display: inline-block
    width: 30px
    height: 30px

    font-size: 3em
    line-height: 26px

    border: solid 1px #999
    border-radius: 50%
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5)
    font-family: Tahoma

    text-align: center
    text-decoration: none
    color: #999

    background-color: #fff

// @media screen and (max-width: 470px)
//   .footer
//     text-align: center
//
//     .add-form
//       float: none
//       margin: 10px auto

@media screen and (max-width: 420px)
  .footer
    font-size: 0.75em

  .add-form input
    width: 180px

